# Ignore everything
*

# Allow listed files/directories
!agent/
!agent/**
!cellexpress/
!cellexpress/**
!docs/
!docs/**
!.github/
!.github/**
!.gitignore
!*.png
!*.env
!README.md
!NEWS.md
!AUTHORS.md
!CONTRIBUTING.md
!Dockerfile
!LICENSE.txt
!pyproject.toml
!uv.lock
!*.Dockerfile

# Exclude directories inside agent and cellexpress
**/__pycache__/
**/.gradio/

# Ignore specific files in agent and cellexpress
agent/sandbox.py
agent/sandbox.txt
cellexpress/sandbox.py
